<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>CommonHomepage</param-name>
        <param-value>common/homepage</param-value>
    </context-param>
    <context-param>
        <param-name>CommonDashboard</param-name>
        <param-value>common/dashboard</param-value>
    </context-param>
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>controller.user.list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.user.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quat</servlet-name>
        <servlet-class>controller.user.quat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.user.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>controller.cart.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailProduct</servlet-name>
        <servlet-class>controller.user.detailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>controller.cart.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>controller.cart.deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAdmin</servlet-name>
        <servlet-class>controller.admin.listAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSanPham</servlet-name>
        <servlet-class>controller.admin.SanPham.addSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCart</servlet-name>
        <servlet-class>controller.cart.updateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSanPham</servlet-name>
        <servlet-class>controller.admin.SanPham.editSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSanPham</servlet-name>
        <servlet-class>controller.admin.SanPham.deleteSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOut</servlet-name>
        <servlet-class>controller.cart.checkOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thanhtoan</servlet-name>
        <servlet-class>controller.user.thanhtoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>controller.user.account.account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>controller.user.signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transition</servlet-name>
        <servlet-class>controller.admin.transition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adAccount</servlet-name>
        <servlet-class>controller.admin.Account.adAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>controller.admin.Account.addAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccount</servlet-name>
        <servlet-class>controller.admin.Account.editAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.admin.Account.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adOrderCXN</servlet-name>
        <servlet-class>controller.admin.Order.adOrderCXN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PheDuyetCXN</servlet-name>
        <servlet-class>controller.admin.OrderCXN.PheDuyetCXN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HuyCXN</servlet-name>
        <servlet-class>controller.admin.OrderCXN.HuyCXN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adOrderDG</servlet-name>
        <servlet-class>controller.admin.OrderDG.adOrderDG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adOrderTC</servlet-name>
        <servlet-class>controller.admin.OrderTC.adOrderTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveProfile</servlet-name>
        <servlet-class>controller.user.account.saveProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HuyDH</servlet-name>
        <servlet-class>controller.user.account.HuyDH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhCong</servlet-name>
        <servlet-class>controller.admin.OrderDG.ThanhCong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraLaiHang</servlet-name>
        <servlet-class>controller.admin.OrderTC.TraLaiHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaGiaoDich</servlet-name>
        <servlet-class>controller.admin.OrderTC.DaGiaoDich</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adOrderDGD</servlet-name>
        <servlet-class>controller.admin.OrderDGD.adOrderDGD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adOrderTLH</servlet-name>
        <servlet-class>controller.admin.OrderTLH.adOrderTLH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dieuhoa</servlet-name>
        <servlet-class>controller.user.dieuhoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tulanh</servlet-name>
        <servlet-class>controller.user.tulanh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tivi</servlet-name>
        <servlet-class>controller.user.tivi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNewSanPham</servlet-name>
        <servlet-class>controller.admin.SanPham.editNewSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllOrders</servlet-name>
        <servlet-class>controller.admin.Order.viewAllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOrder</servlet-name>
        <servlet-class>controller.admin.Order.editOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.user.home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.user.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quat</servlet-name>
        <url-pattern>/quat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailProduct</servlet-name>
        <url-pattern>/detailProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAdmin</servlet-name>
        <url-pattern>/listAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSanPham</servlet-name>
        <url-pattern>/addSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCart</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSanPham</servlet-name>
        <url-pattern>/editSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSanPham</servlet-name>
        <url-pattern>/deleteSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOut</servlet-name>
        <url-pattern>/checkOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thanhtoan</servlet-name>
        <url-pattern>/thanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transition</servlet-name>
        <url-pattern>/transition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adAccount</servlet-name>
        <url-pattern>/adAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccount</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adOrderCXN</servlet-name>
        <url-pattern>/adOrderCXN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PheDuyetCXN</servlet-name>
        <url-pattern>/PheDuyetCXN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HuyCXN</servlet-name>
        <url-pattern>/HuyCXN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adOrderDG</servlet-name>
        <url-pattern>/adOrderDG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adOrderTC</servlet-name>
        <url-pattern>/adOrderTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveProfile</servlet-name>
        <url-pattern>/saveProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HuyDH</servlet-name>
        <url-pattern>/HuyDH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhCong</servlet-name>
        <url-pattern>/ThanhCong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraLaiHang</servlet-name>
        <url-pattern>/TraLaiHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaGiaoDich</servlet-name>
        <url-pattern>/DaGiaoDich</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adOrderDGD</servlet-name>
        <url-pattern>/adOrderDGD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adOrderTLH</servlet-name>
        <url-pattern>/adOrderTLH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dieuhoa</servlet-name>
        <url-pattern>/dieuhoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tulanh</servlet-name>
        <url-pattern>/tulanh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tivi</servlet-name>
        <url-pattern>/tivi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNewSanPham</servlet-name>
        <url-pattern>/editNewSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllOrders</servlet-name>
        <url-pattern>/viewAllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOrder</servlet-name>
        <url-pattern>/editOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            list
        </welcome-file>
    </welcome-file-list>
</web-app>
