.hide {
    display: none;
  }
  
  .filter-property{
      display: flex;
      flex-direction: row;
      list-style: none
    
      background-color: red;
  }
  
  .filter-property-list{
            margin: 0px 10px;
  }
  