
/*pagination*/
.paginationOfProduct{
    display: inline-block;
}

.paginationOfProduct a{
    color: black;
    font-size: 22px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.paginationOfProduct a.active{
    background-color: #4caf50;
    color: white;
}

.paginationOfProduct a:hover:not(.active) {
    background-color: chocolate;
}

/*category*/

.category-nhomSP{
    list-style: none;
    display: inline-block;
}

.category-nhomSP a{
    display: block;
    border-radius: 10px;
    border: solid #8f9296;
    color: black;
    font-size: 16px;
    width : 100%;
    padding: 8px 8px;
    text-decoration: none;
}

.category-nhomSP a.active{
    background-color: #4caf50;
    color: white;
}

.category-nhomSP a:hover:not(.active) {
    background-color: chocolate;
}
