USE [Ass]
GO
/****** Object:  Table [dbo].[TSKTDieuHoa]    Script Date: 7/12/2023 1:16:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKTDieuHoa](
	[MaSP] [int] NOT NULL,
	[LoaiMay] [nvarchar](max) NULL,
	[CongSuat] [nvarchar](max) NULL,
	[PhamVi] [nvarchar](max) NULL,
	[KhuKhuan] [nvarchar](max) NULL,
	[CongNgheTietKiemDien] [nvarchar](max) NULL,
	[LamLanhNhanh] [nvarchar](max) NULL,
	[TienIch] [nvarchar](max) NULL,
	[TieuThuDien] [nvarchar](max) NULL,
	[DanLanh] [nvarchar](max) NULL,
	[DanNong] [nvarchar](max) NULL,
 CONSTRAINT [PK_TSKTDieuHoa] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
